<footer>
     <div class="container-sm w-50">
       <div class="row-footer">
	 <div class="row">
           <div class="navbar fixed-bottom navbar-dark bg-dark">
	     <div class="col-md-12 text-center">
               <a class="btn btn-social-icon btn-linkedin"
		  href="http://www.linkedin.com/in/"><img src="../../resources/img/linkedin.jpg" height="50px" width="50px" />
               </a>
	     </div>
           </div>
	 </div>
       </div>
     </div>
   </footer>
</body>
</html>
