<nav class="navbar navar-toggleable-md navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav">
      <li class="nav-item active">
	<a
	  class="nav-link"
	  href="/"
	  >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
	<a
	  class="nav-link"
	  href="/flickr"
	  >Flickr Search API</a>
      </li>
      <li class="nav-item active">
	<a
	  class="nav-link"
	  href="../../resources/signup-modal/login.html"
	  >Sign Up</a>
      </li>
    </ul>
    <!-- https://stackoverflow.com/questions/41513463/bootstrap-align-navbar-items-to-the-right -->
    <a class="collapse navbar-collapse justify-content-end"
       href="https://github.com/notmike-5">
      <img src="../../resources/img/github.jpg"
	   alt="My Github Repos"
	   style="width:42px;height:42px;"></img></a>
  </div>
</nav>
