<!-- Commentary -->

<%- include('../partials/header'); -%>
<body id='index'>
  <%- include('../partials/nav'); -%>
  
  <header>
    <h1><b>Welcome to Coffee 101</b></h1>
  </header>

  <div class="container-bg">
        <div class="container">
        Whatever!
    </div>
  </div>
  
  <%- include('../partials/footer'); -%>
